.flower-wrap {
  position: absolute;
  max-width: 720px;
  min-width: 540px;
  width: 100%;
  height: auto;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  
  img, picture {
    opacity: .62;
  }
}

.kk-wrap {
  width: 100%;
  max-width: 320px;
  position: relative;
  z-index: 2;
  left: 50%;
  top: 76%;
  transform: translate(-50%, -50%);

  .sub-head {
    margin-top: 1.2em;
    font-style: italic;
    font-size: 1.6em;
    color: white;
    text-shadow: 1px 1px 6px black;
    padding: 0 24px;
    text-align: center;
    font-weight: 200;
  }
}

@media(min-width: 560px){
  .flower-wrap {
    max-width: 820px;
    margin-top: -100px;
  }

  .kk-wrap {
    max-width: 320px;
    top: 76%;

    svg {
      max-width: 50vh;
      margin: 0 auto;
      display: block;
    }
  
    .sub-head {
      margin-top: 2em;
      font-size: 1.4rem;
    }
  }

  @media(min-width: 993px){
    .flower-wrap {
      margin-top: -100px;
    }
  
    .kk-wrap {
      max-width: 420px;
      top: 50vh;
      transform: translate(-50%, -50%);
    
      .sub-head {
        margin-top: 2em;
        font-size: 1.4rem;
      }
    }
    
  }

  @media(min-width: 1400px){
    .flower-wrap {
      margin-top: -32px;
    }
    
  }
  
}