$background: #707070;

.rsvp-holder {
    position: fixed;
    bottom: 100%;
    overflow: hidden;
    width: 100%;
    min-height: 89vh;
    height: 100%;
    transition: all 1s;
    background: white;
    padding: 56px 16px;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    z-index: 100;
    iframe {
        opacity: 0;
        visibility: hidden;
        transition: 500ms;
      }
}


.rsvp-btn {
    color: white;
    background: $background;
    border: 0;
    padding: 12px 36px;
    font-size: 1.2em;
    position: fixed;
    top: 0;
    right: 0;
    transition: transform 500ms;
    transition-delay: 1s;
    border: $background 1px solid;
    z-index: 200;
}

.rsvp-btn:focus, .rsvp-btn:active {
    outline: 0;
    border: white 1px solid;
}

.down {
    bottom: 0;
    overflow: scroll;
    
    iframe {
      opacity: 1;
      visibility: visible;  
    }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea,
select {
  font-size: 16px !important;
}